@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

header {

    background-color: gray;

}

header h1 {
    text-align: center;
}

menu {
    background-color: rgb(121, 120, 120);
}

menu li {
    display: inline;
    padding: 0px 20px;
    margin: 0px;

    background-color:rgb(94, 94, 94) ;
}

menu li:hover {
    padding: 5px 25px 0px 25px;
}

article p {

    text-align: justify;
    margin: 20px;
}

article h2 {
    margin: 30px; 
}

article {
    margin: auto;
    max-width: 500px;
}